.comment-section {
    text-align: left;
    padding: 0 10px;
    .comment {
        margin-bottom: 5px;
    }
}

.add-comment { 
    color: @light + 25%;
    padding: 0 10px 10px 10px;
    text-align: left;

}